---
name: Build

on:
  push:
    branches:
      - master
    paths: 
      - 'SRC/define.inc'
      - 'SRC/SrvMain.pas'
      - 'SRC/Tiny.dpr'
      - 'SRC/xBase.pas'

  pull_request:
    branches:
      - master
    paths: 
      - 'SRC/define.inc'
      - 'SRC/SrvMain.pas'
      - 'SRC/Tiny.dpr'
      - 'SRC/xBase.pas'

  workflow_dispatch:

jobs:
  build_windows:
    runs-on: self-hosted-windows-tinyweb

    steps:
      - uses: actions/checkout@v2

      - name: Compile TinyWeb with Delphi 2007
        run: |
          cd $Env:GITHUB_WORKSPACE/SRC
          & 'C:\Delphi2007\Main\bin\DCC32.EXE' @('-B', 'Tiny.dpr')

      - name: Compile TinyWeb with FreePascal 3.2.2 in ObjFPC mode
        run: |
          cd $Env:GITHUB_WORKSPACE/SRC
          & 'C:\FPC\3.2.2\bin\i386-win32\fpc.exe' @('-B', '-MObjFPC', 'Tiny.dpr')

      - name: Compile TinyWeb with FreePascal 3.2.2 in Delphi mode
        run: |
          cd $Env:GITHUB_WORKSPACE/SRC
          & 'C:\FPC\3.2.2\bin\i386-win32\fpc.exe' @('-B', '-MDelphi', 'Tiny.dpr')
